*{
     padding: 0px;
     margin: 0px;
}


body{
     background-color: black;

}

.container{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 98%;
}

#img-carrosel{
     margin-top: 15px;
     margin-left: 10px;
     top: 10%;
     width: 98%;


 
}

li{
    background-color: rgb(18, 18, 19);
}



